{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="col-9 mx-auto">
    <h2 class="text-center ">Register</h2>

    {{ form_start(registrationForm, {
        'attr': {
            'class' : 'vstack col-9 mx-auto my-3'
        }
    }) }}
    {{ form_label(registrationForm.email) }}
    {{ form_errors(registrationForm.email) }}
    {{ form_widget(registrationForm.email, {
        'attr' : {
            'class' : 'form-control mb-3'
        }
    }) }}
    {{ form_help(registrationForm.email) }}

    <label class="form-label" for="plainPassword">Password</label>
    {{ form_errors(registrationForm.plainPassword) }}
    {{ form_widget(registrationForm.plainPassword, {
        'attr' : {
            'class' : 'form-control mb-3'
        }
    }) }}
    {{ form_help(registrationForm.plainPassword) }}

    {{ form_label(registrationForm.defaultNumberOfGuests) }}
    {{ form_errors(registrationForm.defaultNumberOfGuests) }}
    {{ form_widget(registrationForm.defaultNumberOfGuests, {
        'attr' : {
            'class' : 'form-control mb-3'
        }
    }) }}
    {{ form_help(registrationForm.defaultNumberOfGuests) }}

    {{ form_label(registrationForm.allergies) }}
    {{ form_errors(registrationForm.allergies) }}
    {{ form_widget(registrationForm.allergies, {
        'attr' : {
            'class' : 'form-control mb-3'
        }
    }) }}
    {{ form_help(registrationForm.allergies) }}

    {{ form_rest(registrationForm) }}
    <button type="submit" class="btn btn-lg btn-primary col-9 mx-auto shadow-sm">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
