<div class="text-primary mx-auto text-center h4 my-2 my-sm-2">Horaires</div>
<dl class="col col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto">
    {% for day in day_opening_hours %}
        <div class="row text-nowrap lh-1 text-center">
            <dt class="col-4 text-end">
                <small>
                    {{ day.getDayLabel | trans }}
                </small>
            </dt>
            {% if day.isClosed %}
                <dd class="col-4 text-center">
                    <small>
                        Fermé
                    </small></dd>
            {% else %}
                <dd class="col-4">

                    {% if day.isOpenForLunch %}
                        <small>
                            {{ day.getLunchOpeningTime }}:00 - {{ day.getLunchClosingTime }}:00
                        </small>

                    {% endif %}
                </dd>
                <dd class="col-4">
                    {% if day.isOpenForDinner %}
                        <small>
                            {{ day.getDinnerOpeningTime }}:00 - {{ day.getDinnerClosingTime }}:00
                        </small>

                    {% endif %}
                </dd>
            {% endif %}

        </div>
    {% endfor %}
</dl>