<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Le Quai Antique
        {% if block("title") is not empty %}
            - {% block title %}{% endblock %}
        {% endif %}
    </title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<header class="container-fluid text-center p-2 border-bottom">
    <div class="row my-1">
    <h1 id="restaurant-name">
        <a href="{{ path('app_homepage') }}">
            Le Quai Antique
        </a>
    </h1>
    </div>
    <nav class="row">
        {% if is_granted('ROLE_USER') %}
            <a id="logout-link" href="{{ path('app_logout') }}" class="col-2 justify-content-center"><img src="{{ asset('images/logout.png') }}" class="small-icon" alt="Se déconnecter"></a>
        {% else %}
            <a id="login-link" href="{{ path('app_login') }}" class="col-2 justify-content-center"><img src="{{ asset('images/user.png') }}" class="small-icon" alt="Se connecter"></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a id="admin-panel-link" href="{{ path('admin') }}"  class="col-2"><img src="{{ asset('images/admin.png') }}" class="small-icon" alt="Panel administrateur"></a>
        {% endif %}
        <div class="col"></div>
        <a id="reserve-link" href="{{ path('app_reservation') }}" class="col-4">Réserver</a>
    </nav>
</header>
<div class="container-fluid my-3">
    {% block body %}{% endblock %}
</div>
<footer class="container-fluid border-top border-3 mt-auto">
    {{ render(path('app_opening_hours')) }}
</footer>
</body>
</html>
