<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Le Quai Antique
        {% if block("title") is not empty %}
            - {% block title %}{% endblock %}
        {% endif %}
    </title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🍲</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100 bg-secondary">
<header class="container-fluid text-center bg-primary p-3 border-bottom shadow-sm">
    <div class="row my-1 mx-0 m-sm-2 mt-md-3 m-lg-3 m-xl-2">
    <h1 id="restaurant-name" class="display-5">
        <a href="{{ path('app_homepage') }}" class="text-light text-decoration-none">
            Le Quai Antique
        </a>
    </h1>
    </div>
    <nav class="row mx-0 m-sm-2 px-sm-1 px-md-2 px-lg-3">
        {% if is_granted('ROLE_USER') %}
            <a id="logout-link" href="{{ path('app_logout') }}" class="col-2 h-100 my-auto"><img src="{{ asset('images/logout.png') }}" class="small-icon align-middle" alt="Se déconnecter"></a>
        {% else %}
            <a id="login-link" href="{{ path('app_login') }}" class="col-2  h-100 my-auto"><img src="{{ asset('images/user.png') }}" class="small-icon" alt="Se connecter"></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a id="admin-panel-link" href="{{ path('admin') }}"  class="col-2  h-100 my-auto"><img src="{{ asset('images/admin.png') }}" class="small-icon" alt="Panel administrateur"></a>
        {% endif %}
        <div class="col"></div>
        <a id="reserve-link" href="{{ path('app_reservation') }}" class="col-4 btn btn-info me-2 shadow h-100 my-auto rounded-4 rounded-start">Réserver</a>
    </nav>
</header>
<div class="container-fluid my-3">
    {% block body %}{% endblock %}
</div>
<footer class="container-fluid border-top mt-auto bg-info shadow-lg">
    {{ render(path('app_opening_hours')) }}
</footer>
</body>
</html>
