
{% extends 'base.html.twig' %}

{% block title %}Carte et Menus{% endblock %}

{% block body %}


    <nav class="nav nav-pills nav-fill mb-3">
        <a class="nav-link active" aria-current="page" href="#">Carte</a>
        <a class="nav-link" href="{{ path('app_set_menus') }}">Menus</a>
    </nav>
    <ul id="dish-categories" class="row px-3">
        {% for dish_category in dish_categories %}
        <li class="dish-category col m-3 list-unstyled">
            <h3 class="display-6 text-center">{{ dish_category.name }}</h3>
            <dl class="category-dishes">
                {% for dish in dish_category.dishes%}
                    <div class="row">
                    <dt class="category-dish-name col-10">
                        {{ dish.name }}
                    </dt>
                    <dd class="category-dish-price col-2">
                        {{ dish.price }}
                    </dd>
                        <dd class="category-dish-description col-8 text-muted align-text-top">
                            <small>
                            {{ dish.description }}
                            </small>
                        </dd>
                    </div>
                {% endfor %}
            </dl>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
