<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.numberOfGuests) }}
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        {{ form_row(form.allergies) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>