<div class="col-9 mx-auto" {{ attributes }}>
    {{ form_start(form, {
        'attr': {
            'class' : 'vstack col-9 mx-auto my-3'
        }
    }) }}
        {{ form_row(form.numberOfGuests) }}
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        {{ form_row(form.allergies) }}
        {{ form_widget(form.submit, {
            'attr': {
                'class': 'btn btn-lg btn-primary col-9 mx-auto shadow-sm'
            }
        }) }}
    {{ form_end(form) }}
</div>